body {
  padding-top: 50px;
}

h1 {
  font-size: 18px;
  text-align: center;
}

.campsite .name {
  font-weight: 500;
}

.campsite .park, .campsite .distance {
  color: #aaa;
}

.campsite .distance {
  font-size: 12px;
}
