.content {
  padding-top: 50px;
}

/*.container p:first-child{
  margin-top: 20px;
}*/

h1 {
  font-size: 22px;
  text-align: center;
  margin: 15px auto 15px auto;
  color: white;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: -1000;
  letter-spacing: 0.01em;
}

nav {
  height: 60px;
}

.navbar-text {
  margin-left: 0px;
  margin-right: 0px;
}

nav .btn {
  padding: 0;
  font-size: 22px;
}

.campsite {
  margin: 4px;
}

.campsite .name {
  font-size: 20px;
  font-weight: 500;
}

.campsite .park {
  font-size: 20px;
  color: #aaa;
}

.campsite .distance {
  color: #aaa;
}

.campsite .distance {
  font-size: 18px;
}

p {
  font-size: 18px;
}

h2 {
  font-size: 20px;
  margin-top: 40px;
}

.directions {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 18px;
}

.park-campsite-list {
  margin-top: 2em;
}

/*
   Override bootstrap styles directly below. It would be better to do this
   by using less but we'll leave that as an exercise for another day.
*/

.navbar-default {
    background-color: #97b13d;
}

.navbar-default .navbar-link {
  color: white;
}
